//COMMON
.views-field-field-text
  .field-content
    text-align: center
    text-decoration: none
    text-transform: uppercase
    font-size: 30px
    font-weight: bold
    margin-top: 10px

.not-front
  .views-field-field-image-logo
    padding-top: 60px
    img
      max-height: 200px
  .views-field-field-text
    padding-top: 30px

p
  margin: 30px 0
  line-height: normal

.field-name-title
  h1
    font-family: $font-tile-title
    font-size: $font-size-tile-action
    margin: 0
    line-height: normal
    -webkit-margin-before: 0
    -webkit-margin-after: 0
    -webkit-margin-start: 0
    -webkit-margin-end: 0

.paragraphs-item-subtitle
  h2
    margin: 75px 0 0 0
    line-height: normal
    text-transform: uppercase
    font-size: $font-size-subpages-title

.field-name-field-title-1,
.field-name-field-title-2
  margin-top: 20px

.paragraphs-item-par-image-2,
.paragraphs-item-par-image
  margin-top: 30px

.field-name-field-long-text-html
  ul
    list-style: none
    margin-left: 0
    padding-left: 1em
    margin-bottom: 0
    li
      line-height: 2em
    li:before
      display: inline-block
      content: "-"
      width: 1em
      margin-left: -1em

.paragraphs-item-link
  text-align: center
  margin: 75px 0
  .field-name-field-link
    background: $font-dark-red
    text-align: center
    padding: 15px 10px
    text-transform: uppercase
    display: inline-block
    +shadow
  a
    color: white
    text-decoration: none
    font-weight: bold
    border-bottom: 2px solid white
    padding-bottom: $btn-padding-height



// PRODUCTS
.node-type-product,
.node-type-news
  #content
    margin-top: -75px
    line-height: normal
  .node-product,
  .node-news
    width: 90%
    margin: 0 auto
    background: $transparent-white-node
    padding: 75px 100px
    box-sizing: border-box
  .region-headerbottom
    height: 560px
// .a2a_s_facebook
//   background-image: url("data:image/svg+xml;base64,[M21.86,32V21.05h3.67l.55-4.27H21.86V14.06c0-1.24.34-2.08,2.11-2.08h2.26V8.17A30.23,30.23,0,0,0,22.94,8c-3.26,0-5.49,2-5.49,5.64v3.15H13.77v4.27h3.68V32Z]")
.a2a_kit
  float: right

.embedded-video
  max-width: 600px
  margin: 0 auto
  .player
    position: relative
    padding-bottom: 56.25%
    padding-top: 30px
    height: 0
    overflow: hidden
    iframe,
    object,
    embed
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
